
<div class="sidebar-trigger">
  <div class="dashboard-overlay" [class.active]="sidebarExpanded"></div>
  <aside class="sidebar" [class.sidebar-expanded]="sidebarExpanded" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
      <div class="sidebar-content">
          <div class="top-section">
              <div class="profile-section">
                <div class="profile-image">
                  <img width="100" height="100" src="https://img.icons8.com/bubbles/100/user.png" alt="user"/>
                </div>
                  <div class="profile-info" *ngIf="userDetails">
                      <h3 class="profile-name">{{userDetails.name}}</h3>
                      <span class="profile-role">{{getUserRole()}}</span>
                  </div>
              </div>

              <nav>
                  <ul class="nav-links">
                      <li class="nav-item">
                          <a href="/moderator-dashboard" class="nav-link">
                              <i class="ri-home-line"></i>
                              <span>Home</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="/moderator-products" class="nav-link">
                              <i class="ri-user-line"></i>
                              <span>Products</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="/moderator-order" class="nav-link">
                              <i class="ri-team-line"></i>
                              <span>Order</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="/services" class="nav-link">
                              <i class="ri-store-2-line"></i>
                              <span>Services</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="/about" class="nav-link">
                              <i class="ri-shopping-cart-line"></i>
                              <span>About Us</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="/contact" class="nav-link">
                              <i class="ri-notification-line"></i>
                              <span>Contact Us</span>
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>

          <div class="logout-section">
              <button class="logout-button" (click)="confirmLogout()">
                  <i class="ri-logout-box-line"></i>
                  <span>Logout</span>
              </button>
          </div>
      </div>
  </aside>
</div>
