<div class="dashboard-container">
  <app-admin-dheader></app-admin-dheader>

  <div class="dashboard-container">
    <main class="main-content">
      <div class="header">
        <h1>Dashboard</h1>
        <div class="contact-info" *ngIf="userDetails">
          <i class="ri-phone-line" style="margin-right: 10px; font-size: 24px;"></i>
          <a href="tel:{{ userDetails.contactNo }}">{{ userDetails.contactNo }}</a>
        </div>
      </div>

      <div class="banner-image">
        <img class="gas" alt="">
      </div>

      <div class="customer-table">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Delivery Date</th>
              <th>Status</th>
              <th>Outlet Id</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let deliverShedule of deliverShedules">
              <td>{{ deliverShedule.id }}</td>
              <td>{{ deliverShedule.deliveryDate }}</td>
              <td>{{ deliverShedule.status }}</td>
              <td>{{ deliverShedule.outletId }}</td>
              <td>{{ deliverShedule.qty }}</td>
              <td>
                <button class="action-button" (click)="openPopup(deliverShedule)">Proceed</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <app-admin-sidebar></app-admin-sidebar>

  <!-- POPUP MODAL -->
<div class="popup-container" *ngIf="showPopup">
  <div class="popup">
    <h2 style="text-align: center; font-size: x-large; font-weight: 400;">Delivery Details</h2>
    <p>Delivery Date: {{ selectedSchedule?.deliveryDate }}</p>

    <div *ngFor="let gas of selectedSchedule?.deliveryGasDTOS">
      <label>Gas ID:</label>
      <input type="text" [value]="gas.gasId" readonly />
      <label>Quantity:</label>
      <input type="number" [(ngModel)]="gas.quantity" />
    </div>

    <div class="popup-actions">
      <button class="deliver-button" (click)="selectedSchedule && deliver(selectedSchedule)">Deliver</button>
      <button class="close-button" (click)="closePopup()">Close</button>
    </div>
  </div>
</div>

</div>